/* BODY */
body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
}

/* FORM */
form {
    background: white;
    width: 300px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* TITLE */
h1 {
    text-align: center;
}

/* LABELS */
label {
    display: block;
    margin-top: 10px;
}

/* INPUTS */
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

/* BUTTON HOVER */
button:hover {
    background: darkgreen;
}

/* ERROR TEXT */
small {
    color: red;
}

/* SUCCESS BORDER */
.success {
    border: 2px solid green;
}

/* ERROR BORDER */
.error {
    border: 2px solid red;
}